<template name="gamepad">
	<div class="gamepad-container">
		
		<div class="left-btns">
			<div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">up</a><br/>
				<a href="#">left</a>
				&nbsp;
				<a href="#">right</a><br/>
				&nbsp;&nbsp;&nbsp;<a href="#">down</a>
			</div>
		</div>
		
		<div class="right-btns">
			<div>
				<a href="#">b</a>
				&nbsp;&nbsp;&nbsp;
				<a href="#">a</a>
			</div>
		</div>
		
		<div class="bottom-btns">
			<div>
				<a href="#">select</a>
				<a href="#">start</a>
			</div>
		</div>
		
	</div>
</template>

