<template name="gamepad">
	<div class="gamepad-container">
		
		<div class="left-btns">
			<div>
				<a data-btn="up"></a><br/>
				<a data-btn="left"></a><div class='center'></div><a data-btn="right"></a><br/>
				<a data-btn="down"></a>
			</div>
		</div>
		
		<div class="right-btns">
			<div>
				<a data-btn="btnB">b</a>
				<a data-btn="btnA">a</a>
			</div>
		</div>
		
		<div class="bottom-btns">
			<div>
				<a data-btn="btnSelect">select</a>
				&nbsp;
				<a data-btn="btnStart">start</a>
			</div>
		</div>
		
	</div>
</template>

