<template name="gamepad">
	<div class="gamepad-container">
		
		<div class="left-btns">
			<div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a data-btn="up">up</a><br/>
				<a data-btn="left">left</a>
				&nbsp;
				<a data-btn="right">right</a><br/>
				&nbsp;&nbsp;&nbsp;<a data-btn="down">down</a>
			</div>
		</div>
		
		<div class="right-btns">
			<div>
				<a data-btn="btnB">b</a>
				&nbsp;&nbsp;&nbsp;
				<a data-btn="btnA">a</a>
			</div>
		</div>
		
		<div class="bottom-btns">
			<div>
				<a data-btn="btnSelect">select</a>
				<a data-btn="btnStart">start</a>
			</div>
		</div>
		
	</div>
</template>

