html, body {
	margin: 0px;
	padding: 0px;
	font-family: helvetica, sans-serif;
	
	// Don't allow selections
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	// Don't overscroll
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#pick-role-title {
  background-color: yellow;
  width: 100%;
  font-size: 2em;
  text-align: center;
  position: absolute;
}
#gamepad-button {
  float: right;
  height: 90%;
  padding-top: 25%;
  width: 50%;
  background-color: lightgreen;
  font-size: 2em;
  text-align: center;
}

#screen-button {
  float: left;
  height: 90%;
  padding-top: 25%;
  width: 50%;
  background-color: gray;
  font-size: 2em;
  text-align: center;
}

#gamepad-button:active {
  background-color: white;
}

#screen-button:active {
  background-color: white;
}


